.rdv{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #f2e4db;
    margin-top: 2px;
    padding: 5%;
    cursor: pointer;
}
.rdv>div{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    flex-direction: row;
}

.num{   
    background-color: rgb(182,177,179);
    border-radius: 50%;
}
.detail{
    padding: 2%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.detail>div{
    width: 50%;
}

.show{
    background-color: rgb(182,177,179);
    padding: 5%;
    height:auto;
    animation-name:afficher;
    animation-duration: 1s; 
    opacity: 1;
}
.hide{
    background-color: rgb(182,177,179);
    opacity: 0;
    height: 0;
    animation-name:cacher;
    animation-duration: 1s; 
    overflow: hidden;
}
.initial{
    background-color: rgb(182,177,179);
    opacity: 0;
    height: 0;
    overflow: hidden;
}
@keyframes afficher {
    0% {
        opacity: 0;
        height: 0px;
        padding: 0;
    }
    100%{
        opacity: 1;
        height: 220px;
        padding: 5%;
    }
}

@keyframes cacher {
    0% {
        opacity: 1;
        height:220px;
        padding: 5%;
    }
    100%{
        opacity: 0;
        height: 0px;
        padding: 0%;
    }
}


.action{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
button{
    z-index: 999;
    font-size:40px;
    height:40px;
    width:40px;
    min-height:40px;
    min-width:40px;
    border-color: transparent;
    background-color: transparent;
    padding: 0;
}
#supprimer:hover>md-icon{
    color: red;
}
#rejeter:hover>md-icon{
    color: orange;
}
#accepter:hover>md-icon,#effectue:hover>md-icon{
    color: green;
}

md-icon{
    pointer-events: none;
    color: #f2e4db;
    font-size: 30px;
    height: 30px;
    width: 30px;
    min-height: 30px;
    min-width: 30px;
    max-height: 30px;
    max-width: 30px;
}