    <div class="rdv" (click)="open()">
        <div class="num"><div *ngIf="numRdv<10">0</div><div>{{numRdv}}</div></div>
        <div *ngIf='typeUtilisateur=="enseignant"'>{{rdv.student.lastname}} {{rdv.student.name}}</div>
        <div *ngIf='typeUtilisateur=="etudiant"'>{{rdv.teacher.lastname}} {{rdv.teacher.name}}</div>
    </div>

    <div [class]="classDetail">
        <div class="detail" ></div>
        <div class="detail"><div>Objet</div>        <div> {{rdv.reason}}</div> </div>

        <div class="detail" *ngIf="rdv.state == 'enattent' && typeUtilisateur=='enseignant' ">
          <div>Demandé le </div>  <div> {{rdv.date |date}}</div>
            <button id="rejeter"><md-icon svgIcon="reject"></md-icon></button>
            <button (click)="accept(rdv)"><md-icon svgIcon="accept"></md-icon></button>
        </div>

        <div class="action" *ngIf="rdv.state == 'accepted'" >
            <button id="effectue"><md-icon svgIcon="done"></md-icon></button>
        </div>

        <div class="action"*ngIf="rdv.state == 'refused'" >
            <button id="supprimer"><md-icon svgIcon="delete"></md-icon></button>
        </div>
    </div>


