<p>Demande de RDV</p>
<div id="container">

  <div>
    <md-input-container>
      <input mdInput placeholder="Objet du RDV" [(ngModel)]="reason">
    </md-input-container>
  </div>
  <div>
        <md-select [(ngModel)]="selectedTeacher">
          <md-option  *ngFor="let teacher of teachers" [value]="teacher">{{teacher.lastname}} {{teacher.name}}</md-option>
        </md-select>
   </div>
</div>

<div id="action"><button type="button" md-raised-button (click)="send()">Envoyer</button></div>



