 <div class="action" *ngIf="!emploisMAJ"><!--  cela est affiché seulement si l'emplois n'est pas MAJ-->
   <h3>{{selectedSpec.name}} + {{selectedSection.sectionName}} + {{selectedGroupe.groupeName}}</h3>
      <button *ngIf="!editable" md-button (click)="MAJEmplois()">Mettre à jour</button>
       <button *ngIf="editable" md-button (click)="enregistrer()">Terminer</button>
</div>
<div id="container">
    <table>
        <tr>
          <th>
          <button *ngIf="editable" id="edit" (click)="addSeance('sunday')"><md-icon svgIcon="add"></md-icon></button>
        </tr>
        <tr>
            <th>Dimanche</th>
        </tr>

        <tr *ngFor="let seance of emploi.sunday">
          <td>
            <button *ngIf="editable" id="edit" (click)="updateSeance(seance, 'sunday')"><md-icon svgIcon="edit-seance"></md-icon></button>
            <button *ngIf="editable" id="edit" (click)="deleteSeance(seance, 'sunday')"><md-icon svgIcon="delete"></md-icon></button>
            <h3>{{seance.module.abre}}</h3>
            <h4>{{seance.teacher.lastname}}</h4>
            <p>{{seance.type}}</p>
            <p>{{seance.salle.name}}</p>
            <p>{{seance.starts}} - {{seance.ends}}</p>
          </td>
        </tr>
    </table>
    <table>
        <tr>
          <th>
          <button *ngIf="editable" id="edit" (click)="addSeance('monday')"><md-icon svgIcon="add"></md-icon></button>
        </tr>
        <tr>
            <th>Lundi</th>
        </tr>

        <tr *ngFor="let seance of emploi.monday">
          <td>
            <button *ngIf="editable" id="edit" (click)="updateSeance(seance, 'monday')"><md-icon svgIcon="edit-seance"></md-icon></button>
            <button *ngIf="editable" id="edit" (click)="deleteSeance(seance, 'monday')"><md-icon svgIcon="delete"></md-icon></button>
            <h3>{{seance.module.abre}}</h3>
            <h4>{{seance.teacher.lastname}}</h4>
            <p>{{seance.type}}</p>
            <p>{{seance.salle.name}}</p>
            <p>{{seance.starts}} - {{seance.ends}}</p>
          </td>
        </tr>
    </table>
    <table>
        <tr>
          <th>
          <button *ngIf="editable" id="edit" (click)="addSeance('tuesday')"><md-icon svgIcon="add"></md-icon></button>
        </tr>
        <tr>
            <th>Mardi</th>
        </tr>

        <tr *ngFor="let seance of emploi.tuesday">
          <td>
            <button *ngIf="editable" id="edit" (click)="updateSeance(seance, 'tuesday')"><md-icon svgIcon="edit-seance"></md-icon></button>
            <button *ngIf="editable" id="edit" (click)="deleteSeance(seance, 'tuesday')"><md-icon svgIcon="delete"></md-icon></button>
            <h3>{{seance.module.abre}}</h3>
            <h4>{{seance.teacher.lastname}}</h4>
            <p>{{seance.type}}</p>
            <p>{{seance.salle.name}}</p>
            <p>{{seance.starts}} - {{seance.ends}}</p>
          </td>
        </tr>
    </table>
    <table>
        <tr>
          <th>
          <button *ngIf="editable" id="edit" (click)="addSeance('wednesday')"><md-icon svgIcon="add"></md-icon></button>
        </tr>
        <tr>
            <th>Mercredi</th>
        </tr>

        <tr *ngFor="let seance of emploi.wednesday">
          <td>
            <button *ngIf="editable" id="edit" (click)="updateSeance(seance, 'wednesday')"><md-icon svgIcon="edit-seance"></md-icon></button>
            <button *ngIf="editable" id="edit" (click)="deleteSeance(seance, 'wednesday')"><md-icon svgIcon="delete"></md-icon></button>
            <h3>{{seance.module.abre}}</h3>
            <h4>{{seance.teacher.lastname}}</h4>
            <p>{{seance.type}}</p>
            <p>{{seance.salle.name}}</p>
            <p>{{seance.starts}} - {{seance.ends}}</p>
          </td>
        </tr>
    </table>
    <table>
        <tr>
          <th>
          <button  *ngIf="editable" id="edit" (click)="addSeance('thursday')"><md-icon svgIcon="add"></md-icon></button>
        </tr>
        <tr>
            <th>Jeudi</th>
        </tr>

        <tr *ngFor="let seance of emploi.thursday">
          <td>
            <button *ngIf="editable" id="edit" (click)="updateSeance(seance, 'thursday')"><md-icon svgIcon="edit-seance"></md-icon></button>
            <button *ngIf="editable" id="edit" (click)="deleteSeance(seance, 'thursday')"><md-icon svgIcon="delete"></md-icon></button>
            <h3>{{seance.module.abre}}</h3>
            <h4>{{seance.teacher.lastname}}</h4>
            <p>{{seance.type}}</p>
            <p>{{seance.salle.name}}</p>
            <p>{{seance.starts}} - {{seance.ends}}</p>
          </td>
        </tr>
    </table>
</div>
