 <div class="action" *ngIf="!emploisMAJ"><!--  cela est affiché seulement si l'emplois n'est pas MAJ-->
      <p>L'emplois du temps de ce groupe pour ce semestre n'a pas été mis à jour</p>
      <button *ngIf="!editable" md-button (click)="MAJEmplois()">Mettre à jour</button>
       <button *ngIf="editable" md-button (click)="enregistrer()">Enregistrer</button>
</div>
<div id="container">
    <table>
        <tr>
          <th>
          <button  id="edit" (click)="addSeance('sunday')"><md-icon svgIcon="edit-seance"></md-icon></button>
        </tr>
        <tr>
            <th>Dimanche</th>
        </tr>

        <tr *ngFor="let seance of emploi.sunday">
          <td>
            <button *ngIf="editable" id="edit" (click)="modifierSeance()"><md-icon svgIcon="edit-seance"></md-icon></button>
            <h3>{{seance.module.abre}}</h3>
            <h4>{{seance.teacher.lastname}}</h4>
            <p>{{seance.type}}</p>
            <p>{{seance.salle.name}}</p>
            <p>{{seance.starts}} - {{seance.ends}}</p>
          </td>
        </tr>
    </table>
    <table>
        <tr>
          <th>
          <button  id="edit" (click)="addSeance('monday')"><md-icon svgIcon="edit-seance"></md-icon></button>
        </tr>
        <tr>
            <th>Lundi</th>
        </tr>

        <tr *ngFor="let seance of emploi.monday">
          <td>
            <button *ngIf="editable" id="edit" (click)="modifierSeance()"><md-icon svgIcon="edit-seance"></md-icon></button>
            <h3>{{seance.module.abre}}</h3>
            <h4>{{seance.teacher.lastname}}</h4>
            <p>{{seance.type}}</p>
            <p>{{seance.salle.name}}</p>
            <p>{{seance.starts}} - {{seance.ends}}</p>
          </td>
        </tr>
    </table>
    <table>
        <tr>
          <th>
          <button  id="edit" (click)="addSeance('tuesday')"><md-icon svgIcon="edit-seance"></md-icon></button>
        </tr>
        <tr>
            <th>Mardi</th>
        </tr>

        <tr *ngFor="let seance of emploi.tuesday">
          <td>
            <button *ngIf="editable" id="edit" (click)="modifierSeance()"><md-icon svgIcon="edit-seance"></md-icon></button>
            <h3>{{seance.module.abre}}</h3>
            <h4>{{seance.teacher.lastname}}</h4>
            <p>{{seance.type}}</p>
            <p>{{seance.salle.name}}</p>
            <p>{{seance.starts}} - {{seance.ends}}</p>
          </td>
        </tr>
    </table>
    <table>
        <tr>
          <th>
          <button  id="edit" (click)="addSeance('wednesday')"><md-icon svgIcon="edit-seance"></md-icon></button>
        </tr>
        <tr>
            <th>Mercredi</th>
        </tr>

        <tr *ngFor="let seance of emploi.wednesday">
          <td>
            <button *ngIf="editable" id="edit" (click)="modifierSeance()"><md-icon svgIcon="edit-seance"></md-icon></button>
            <h3>{{seance.module.abre}}</h3>
            <h4>{{seance.teacher.lastname}}</h4>
            <p>{{seance.type}}</p>
            <p>{{seance.salle.name}}</p>
            <p>{{seance.starts}} - {{seance.ends}}</p>
          </td>
        </tr>
    </table>
    <table>
        <tr>
          <th>
          <button  id="edit" (click)="addSeance('thursday')"><md-icon svgIcon="edit-seance"></md-icon></button>
        </tr>
        <tr>
            <th>Jeudi</th>
        </tr>

        <tr *ngFor="let seance of emploi.thursday">
          <td>
            <button *ngIf="editable" id="edit" (click)="modifierSeance()"><md-icon svgIcon="edit-seance"></md-icon></button>
            <h3>{{seance.module.abre}}</h3>
            <h4>{{seance.teacher.lastname}}</h4>
            <p>{{seance.type}}</p>
            <p>{{seance.salle.name}}</p>
            <p>{{seance.starts}} - {{seance.ends}}</p>
          </td>
        </tr>
    </table>
</div>
        <!--  <button  id="edit" (click)="addSeance('monday')"><md-icon svgIcon="edit-seance"></md-icon></button>
            </th>
          <th>
          <button  id="edit" (click)="addSeance('tuesday')"><md-icon svgIcon="edit-seance"></md-icon></button>
            </th>
          <th>
          <button  id="edit" (click)="addSeance('wednesday')"><md-icon svgIcon="edit-seance"></md-icon></button>
            </th>
          <th>
          <button  id="edit" (click)="addSeance('thursday')"><md-icon svgIcon="edit-seance"></md-icon></button>
        </th>-->
        <!--
            <th>Lundi</th>
            <th>Mardi</th>
            <th>Mercredi</th>
            <th>Jeudi</th>-->
          <!--<td>
               <button *ngIf="editable" id="edit" (click)="modifierSeance()"><md-icon svgIcon="edit-seance"></md-icon></button>
           <h3>TDM</h3>
                <h4>Mostefai</h4>
                <p>TD/TP</p>
                <p>visio</p>
            <p>8h30-10h30</p>
          </td>
          <td>
                 <button *ngIf="editable" id="edit" (click)="modifierSeance()"><md-icon svgIcon="edit-seance"></md-icon></button>
           <h3>TDM</h3>

                <h4>Mostefai</h4>
                <p>TD/TP</p>
                <p>visio</p>
            <p>8h30-10h30</p>
          </td>
          <td>
               <button *ngIf="editable" id="edit" (click)="modifierSeance()"><md-icon svgIcon="edit-seance"></md-icon></button>
           <h3>TDM</h3>

                <h4>Mostefai</h4>
                <p>TD/TP</p>
                <p>visio</p>
            <p>8h30-10h30</p>
          </td>
          <td>
              <button *ngIf="editable" id="edit" (click)="modifierSeance()"><md-icon svgIcon="edit-seance"></md-icon></button>
           <h3>TDM</h3>

                <h4>Mostefai</h4>
                <p>TD/TP</p>
                <p>visio</p>
            <p>8h30-10h30</p>
          </td>-->
