
<div id="container">
    <div class="column">
        <div class="entete">Réservations</div>
        <detail-reservation *ngFor="let reservation of reservations" [numReservation]="reservations.indexOf(reservation)+1" [reservation]="reservation" [typeUtilisateur]="'gestionnaire'" (click)="onClick($event,reservations.indexOf(reservation))"></detail-reservation>
    </div>

    <div class="column">
        <div class="entete">Réservations acceptés</div>
        <detail-reservation *ngFor="let reservation of reservationsAcceptes" [numReservation]="reservationsAcceptes.indexOf(reservation)+1" [reservation]="reservation" [typeUtilisateur]="'gestionnaire'" (click)="supprimerFromAcceptedReservations($event,reservationsAcceptes.indexOf(reservation))"></detail-reservation>
    </div>
    
    <div class="column">
        <div class="entete">Réservations rejetés</div>
        <detail-reservation *ngFor="let reservation of reservationsRejetes" [numReservation]="reservationsRejetes.indexOf(reservation)+1" [reservation]="reservation" [typeUtilisateur]="'gestionnaire'"  (click)="supprimerFromRejectedReservations($event,reservationsRejetes.indexOf(reservation))"></detail-reservation>
    </div>
<div>