<div id="entete">
  <h2>{{groupe}}</h2>
  <material-datepicker (dateChange)="setSeances()" [(date)] = "selectedDate"></material-datepicker>
  <md-select placeholder="Module" (change)="getAbsences()" [(ngModel)]="selectedSeance">
    <md-option *ngFor="let seance of seances" [value]="seance"> {{seance.module.abre}} {{seance.type}} {{seance.starts}} {{seance.ends}}</md-option>
  </md-select>

</div>

<div id="container">
    <table>
        <tr>
            <th>N°</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th [hidden]="!afficherTout" class="masquable" *ngFor="let absence of absenceSeance">{{absence.date | date}}</th>
            <th>Absence</th>
        </tr>

        <tr *ngFor="let student of students">
            <td>{{student.matricule}}</td>
            <td>{{student.lastname}}</td>
            <td>{{student.name}}</td>

              <td [hidden]="!afficherTout" class="masquable" *ngFor="let absence of absenceSeance">
                {{printAbsence(student, absence)}}
              </td>
            <td><md-checkbox [value]="student" (change)="setStudent(student, $event)"></md-checkbox></td>

        </tr>

    </table>
</div>
<div id="action">
    <button *ngIf="!afficherTout" md-button (click)="afficher()">Afficher tout</button>
    <button *ngIf="afficherTout" (click)="masquer()" md-button>Masquer</button>
    <button md-button (click) ="save()">Enregistrer</button>
</div>
