/*-----------------------------------Entete--------------------------------*/

#entete{

    height:150px;

    overflow: hidden;

}

.enteteContainer{

    z-index: 999;

    display: flex;

    background-color: rgb(53,63,64);

    padding-left: 5%;

    padding-right: 5%;

    justify-content: space-between;

    flex-direction: row;

    color:#f2e4db;

    height: 50px;

}



.centerContainer{

    display: flex;

    width: 70%;

    justify-content: center;

    flex-direction: row;

}

.item{

     display: flex;

     justify-content: center;

     flex-direction:column;

}

.item>h5{

    top: 8%;

    position: relative;

    color: #f2e4db;

}

.item>h1{

    color:  #ff5555;

    font-style: italic;

}

#user{

    color: #f2e4db;

    font-size: 40px;

    height:40px;

    width: 40px;

    min-height: 40px;

    min-width: 40px;

}

.item>button{

    width:80px;

    height: 30px;

    border-color: transparent;

    border-radius: 5px;

    background-color: #f2e4db;

    color: rgb(53,63,64);

}



/*-----------------------------------Menu--------------------------------*/

.manu-bar{

    display: flex;

    justify-content: center;

    flex-direction: row;

}

.espace{

    background-color: #f2e4db;

    width: 5%;

    height:100px;

}

.espace:first-child{

    margin-right: 2px;

}



.menu{

    width: 90%;

    display: flex;

    justify-content: center;

    flex-direction: row;

}



.menu>div{

    cursor: pointer;

    display: flex;

    align-items: center;

    justify-content:space-between;

    flex-direction:column;

    height: 100px;

    width: 30%;

    margin-right: 2px;

    background-color: #f2e4db;

}



.menu>.menu-selectionne{

    background-color: #d7b9a0;

}



.menu>div>div:first-child{

    height: 5%;

    width: 100%;

}



.menu>div:hover>div:first-child,.menu>.menu-selectionne>div:first-child{

    background-color: #ff5555;

}



.menu>div>div:last-child{

    height: 30px;

    width: 100%;

}

.menu>div:hover>div:last-child,.menu>.menu-selectionne>div:last-child{

    background-color: #ff5555;

    height: 30px;

    width: 100%;

}



.menu-icone{

    color: #ff8080;

    font-size: 30px;

    height: 30px;

    width: 30px;

    min-height: 30px;

    min-width: 30px;

}

.menu>.menu-selectionne>.menu-icone{

    color: rgb(53,63,64);

}

.menu>.menu-selectionne>.menu-icone{

    color: black;

}



.menu>.menu-non-selectionne:hover>.menu-icone{

    color: #ff5555;

}



.text-menu{

    width: 90%;

    height: 30px;

    overflow: hidden;





    display: flex;

    justify-content: center;

    flex-direction: row;

}

.text-menu>.menu-non-selectionne{

    cursor: pointer;

    display: flex;

    justify-content: center;

    flex-direction: column;

    width: 30%;

    margin-right: 2px;

    text-align: center;

    color: #f2e4db;

}

#barre{

    width: 100%;

    background-color: #ff8080;

    height: 30px;

     top: -30px;

    position:relative;

    opacity:0.8;

    display: flex;

    justify-content: center;

    flex-direction: row;

}



.text-menu>.menu-selectionne{

    cursor: pointer;

    display: flex;

    justify-content: center;

    flex-direction: column;

    width: 30%;

    margin-right: 2px;

    text-align: center;

    color: #0c1329;

    font-weight: bold;

}
