<div class="titre">
    <div></div>
    <div>Niveaux et Spécialités</div>
</div>

<div class="div-global">
    <md-tab-group >
        <md-tab label="1CPI">
            <div class="div-semestres">
                <div><modules-semestre></modules-semestre></div>
                <div><modules-semestre></modules-semestre></div>
            </div>  
        </md-tab>
        <md-tab label="2CPI">
             <div class="div-semestres">
                <div><modules-semestre></modules-semestre></div>
                <div><modules-semestre></modules-semestre></div>
            </div>  
        </md-tab>
        <md-tab label="1CS">
            <div class="div-semestres">
                <div><modules-semestre></modules-semestre></div>
                <div><modules-semestre></modules-semestre></div>
            </div>  
        </md-tab>
        <md-tab label="2CS-SIL">

        </md-tab>
        <md-tab label="2CS-SIT">
             <div class="div-semestres">
                <div><modules-semestre></modules-semestre></div>
                <div><modules-semestre></modules-semestre></div>
            </div>  
        </md-tab>
        <md-tab label="2CS-SIQ">

        </md-tab>
    </md-tab-group>
</div>