<div>
  <button md-button (click)="demanderRdv()">Demande RDV</button>
</div>

<div id="container">
    <div class="column">
        <div class="entete">Demandes de RDV</div>
        <div *ngFor="let appointment of appointmentDemands; let i = index; ">
          <div class="rdv" (click)="open(i)">
              <div class="num"><div *ngIf="i<10">0</div><div>{{i+1}}</div></div>
              <div >{{appointment.teacher.lastname}} {{appointment.teacher.name}}</div>
          </div>

          <div [class]="classDetails[i]">
              <div class="detail" ></div>
              <div class="detail"><div>Objet</div>        <div> {{appointment.reason}}</div> </div>
          </div>
        </div>
    </div>

    <div class="column">
        <div class="entete">RDVs acceptés</div>
        <div *ngFor="let appointment of appointmentAccepted; let i = index; ">
          <div class="rdv" (click)="open(i + appointmentDemands.length)">
              <div class="num"><div *ngIf="i<10">0</div><div>{{i+1}}</div></div>
              <div >{{appointment.teacher.lastname}} {{appointment.teacher.name}}</div>
          </div>

          <div [class]="classDetails[i + appointmentDemands.length]">
              <div class="detail" ></div>
              <div class="detail"><div>Objet</div>        <div> {{appointment.reason}}</div> </div>
              <div class="detail"><div>Date</div>        <div>{{appointment.date |date}} {{appointment.heur}} </div> </div>
              <div class="detail"><div>Remarque</div>        <div> {{appointment.remarque}}</div> </div>

        </div>
      </div>
    </div>

    <div class="column">
        <div class="entete">RDVs rejetés</div>
        <div *ngFor="let appointment of appointmentRefused; let i = index; ">
          <div class="rdv" (click)="open(i +appointmentDemands.length + appointmentAccepted.length)">
              <div class="num"><div *ngIf="i<10">0</div><div>{{i+1}}</div></div>
              <div >{{appointment.teacher.lastname}} {{appointment.teacher.name}}</div>
          </div>

          <div [class]="classDetails[i+appointmentDemands.length + appointmentAccepted.length]">
              <div class="detail" ></div>
              <div class="detail"><div>Objet</div>        <div> {{appointment.reason}}</div> </div>

              <div class="action"  >
                  <button (click)="delete(appointment)"><md-icon svgIcon="delete"></md-icon></button>
              </div>
        </div>
      </div>

    </div>

    <div class="column">
        <div class="entete">RDVs effectués</div>
        <div *ngFor="let appointment of appointmentDone; let i = index; ">
          <div class="rdv" (click)="open(i+appointmentDemands.length + appointmentAccepted.length+appointmentRefused.length)">
              <div class="num"><div *ngIf="i<10">0</div><div>{{i+1}}</div></div>
              <div >{{appointment.teacher.lastname}} {{appointment.teacher.name}}</div>
          </div>

          <div [class]="classDetails[i+appointmentDemands.length + appointmentAccepted.length+appointmentRefused.length]">
              <div class="detail" ></div>
              <div class="detail"><div>Objet</div>        <div> {{appointment.reason}}</div> </div>
              <div class="detail"><div>Date</div>        <div>{{appointment.date |date}} {{appointment.heur}} </div> </div>
              <div class="detail"><div>Remarque</div>        <div> {{appointment.remarque}}</div> </div>
              <div class="action"  >
                  <button (click)="delete(appointment)"><md-icon svgIcon="delete"></md-icon></button>
              </div>
        </div>
      </div>

    </div>
<div>
