<div class="bare">
  <div class="titre">
    <div></div>
    <div>Enseignants</div>
  </div>
  <div>
    <button md-icon-button id="choix" [md-menu-trigger-for]="menu">
      <md-icon svgIcon="menu"></md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <span>Ajouter Enseignant</span>
      </button>
    </md-menu>
  </div>
</div>


<div class="liste">
  <div>
    <div>
      <md-card class="entete">
        <div>Nom</div>
        <div>Prénom</div>
        <div>
          <button md-button (click)="showAdd='show-form'"><md-icon svgIcon="add"></md-icon></button>
        </div>
      </md-card>
      <div>
        <div [class]="showAdd">
          <div>
            <div class="container">
              <div>
                <button md-button><md-icon svgIcon="portrait" class="add-img"></md-icon></button>
              </div>
              <div class="infos">
                <form class="formulaire">
                  <div>
                   <div>
                     <md-input-container>
                        <input mdInput placeholder="Prénom" #name>
                     </md-input-container>
                   </div>
                   <div>
                     <md-input-container>
                        <input mdInput placeholder="Nom" #lastname>
                     </md-input-container>
                   </div>
                   <div>
                     <md-input-container>
                       <input mdInput placeholder="Email" #mail>
                   </md-input-container>
                   </div>
                  </div>
                  <div>
                    <div>
                     <md-input-container>
                      <input mdInput placeholder="Adresse" #address>
                     </md-input-container>
                    </div>
                    <div>
                     <md-input-container>
                      <input mdInput placeholder="Téléphone" #tell>
                     </md-input-container>
                    </div>
                    <div>
                      <md-select [(ngModel)]=selectedModules name="selectedModules"  multiple placeholder="Modules">
                        <md-option *ngFor="let module of modules" [value]="module" >{{module.name}}</md-option>
                      </md-select>
                  </div>
                  </div>
                </form>
                <div class="action">
                  <button md-raised-button (click)="add({name : name.value,
                                                        lastname : lastname.value,
                                                        mail : mail.value,
                                                        address: address.value,
                                                        tell: tell.value
                                                        })">Valider</button>

                  <button md-raised-button (click)="annuler()">Annuler</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div *ngFor="let teacher of teachers" >
      <teacher [teacher]="teacher"></teacher>
  </div>

  </div>
</div>

<div class="btn-group">
  <a id="first" class="btn btn-return btn-rounded-left" role="button" data-original-title="" title="" (click) ="changerTab(3);">Début</a>
  <a id="prev" class="btn btn-passe" role="button" data-original-title="" title="" (click) ="changerTab(2);">Précédent</a>
  <a id="middel" class="btn btn-middel" role="button" data-original-title="" title="">Page 1 / {{numPage}}</a>
  <a id="next" class="btn btn-passe" role="button" data-original-title="" title="" (click) ="changerTab(1);">Suivant</a>
  <a id="last" class="btn btn-return btn-rounded-right" role="button" data-original-title="" title="" (click) ="changerTab(4);">Fin</a>
</div>
