
<div id="container">
    <div>
    <md-card *ngFor="let student of students" class="example-card">
        <md-card-header>
          <md-card-title>{{student.lastname}} {{student.name}}</md-card-title>
        </md-card-header>
       <md-icon svgIcon="person" class="user"></md-icon>
        <md-card-actions>
          <div><md-card-subtitle>{{student.absences.length}}</md-card-subtitle></div>
            <button md-button (click)="afficherDetailsAbsence(student)"><md-icon svgIcon="details"></md-icon></button>
        </md-card-actions>
    </md-card>
    </div>
</div>

