md-dialog-container{
    padding: 0;
}
#container{
    padding: 4%;
    display: flex;
    justify-content: center;
    flex-direction:row;
}

.example-card {
  width: 27%;
  margin:2px;
  float: left;
  height : 180px;
}

md-card-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

md-card-actions{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}
md-card-actions div{
    display: flex;
    justify-content: center;
    flex-direction:column;
}

md-card-subtitle{
    margin: 0;
}


.user{
    color:#0c1329;
    font-size: 100px;
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;
}

md-card-actions button{
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    padding: 0;
}
