<div id="container">
    <div id="menu">
        <div [class]="classItems[0]" (click)="selectionner(0)">
            <button><md-icon svgIcon="liste"></md-icon></button>
            <div class="text">Liste du Groupe</div>
            <div class="fleche_droite"></div>
        </div>
        <div [class]="classItems[1]" (click)="selectionner(1)">
            <button><md-icon svgIcon="absence"></md-icon></button>
            <div class="text">Absences</div>
            <div class="fleche_droite"></div>
        </div>
        <div [class]="classItems[2]" (click)="selectionner(2)">
            <button><md-icon svgIcon="note"></md-icon></button>
            <div class="text">Moyennes</div>
            <div class="fleche_droite"></div>
        </div>
    </div>

    <div id="content">
        <md-tab-group>
          <md-tab *ngFor="let groupe of groupes" label="{{groupe.spec}} {{groupe.section}} {{groupe.groupeName}}">
                <div>
                    <div class="entete">
                        <div><button md-button *ngIf="affichage==1" (click)="openSaisieAbsencesDialog(groupe.students, groupe.spec +' '+ groupe.section+' '+ groupe.groupeName)">saisir les absences</button></div>
                    </div>
                    <liste-groupe [students]="groupe.students" *ngIf="affichage==0"></liste-groupe>
                    <absence-groupe  [students]="groupe.students"   *ngIf="affichage==1"></absence-groupe>
                    <notes-groupe *ngIf="affichage==2"></notes-groupe>
                </div>
            </md-tab>
        </md-tab-group>
    </div>
</div>
